#foodBox { overflow-x: scroll; }

.swiper-container { min-width: 100%; }

.food {
    display: inline-block;
}

.food img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
}

.swiper-slide {
    width: auto;
}

.food .food-description { overflow: unset; }

.food .food-description h4 {
    margin-top: 5px;
    margin-bottom: 13px;
    text-align: center;
}

/*

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.center-row {
    text-align: center;
}

section {
    padding: 80px 0;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 500%;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2, h3 {
    font-size: 180%;
    word-spacing: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 30px;
    letter-spacing: 5px;
}

h3 {
    color: #555;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

a:link,
a:visited {
    color: #fff;
    text-decoration: none;
    padding-bottom: 1px;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #6acc00;
}*/