#ingredientBox { overflow-x: scroll; }
#recipeBox { overflow-x: scroll; }

.swiper-container { min-width: 100%; }

.result {
    display: inline-block;
}

.result img {
    border: 1px solid #ddd;
    border-radius: 40px;
    padding: 5px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    width: 225px;
    height: fit-content;
    object-fit: cover;
}

.swiper-slide {
    width: auto;
}

.result .result-description { overflow: unset; }

.result .result-description h4 {
    margin-top: 5px;
    margin-bottom: 13px;
    text-align: center;
}

head {
	font-family: arial;
}

body {
	font-family:arial;
}

#header {
	background-color: lightgreen;
	vertical-align:middle;
	padding: 15px;
	overflow: auto;
}

h1 {
	display: inline-block;
}
.forms {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	display: table;
	float: left;
	clear: both;
}

.forms input {
	box-sizing: border-box;
}